<%= form_for @stack do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <h4>Resources</h4>
  <p> <%= edit_habtm @stack, Resource %> </p>

  <h4>Variables</h4>
  <% @stack.resources.each do |res| %>
    <h5> <%= res %></h5>

    <p> <%= edit_habtm @stack, res.keys %> </p>
  <% end -%>

  <p><%= f.submit %></p>
<% end %>
