<%= form_for @stack do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <h4>Resources</h4>
  <p> <%= edit_many_checkbox @stack, Resource %> </p>

  <p><%= f.submit %></p>
<% end %>
