<%= form_for @stack do |f| %>
  <%= base_errors_for @stack %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("Stack") %></a></li>
    <li><a href="#parameters" data-toggle="tab"><%= _("Parameters") %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name %>

      <%= multiple_checkboxes f, :resources, @stack, Resource %>
    </div>

    <div class="tab-pane" id="parameters">
      <h4> <%= _('Please select Parameters you are interested in') %></h4>
      <% @stack.resources.each do |resource| %>
        <%= multiple_checkboxes f, :keys, @stack, resource.keys, :label => resource %>
      <% end %>
    </div>
  </div>

  <%= submit_or_cancel f %>

<% end %>