<% title "Stacks" %>

<table>
  <tr>
    <th>Name</th>
    <th>Deployments</th>
    <th>Resources</th>
    <th></th>
  </tr>
  <% for stack in @stacks %>
    <tr>
      <td><%= link_to stack.name, edit_stack_path(stack) %></td>
      <td><%= stack.deployments.count %></td>
      <td><%= stack.stack_resources.deployment_templates.count %></td>
      <td><%= link_to "Destroy", stack, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Stack", new_stack_path %></p>
