<%= form_for @deployment do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name, :size => 12 %>
  <%= f.label :stack_id %>
  <%= f.collection_select :stack_id, Stack.all, :id, :name %>
  </p>

  <%= render "settings", :f =>f unless @deployment.new_record? %>
  <p><%= f.submit %></p>
<% end %>
