<table class="table">
  <tr>
    <th> Resources</th>
    <th> Parameters</th>
  </tr>
  <tr>
    <td>
      <% @deployment.stack_resources.each do |mix| %>
        <%= f.fields_for :stack_resources, mix do |mix_form| -%>
          <%= render "resources", :f => mix_form %><br>
        <% end -%>
      <% end -%>
    </td>
    <td>

      <%= f.fields_for :lookup_values do |value| %>
        <%= value.hidden_field :lookup_key_id %>
        <% if value.object.name =~ /password/ -%>
          <%= password_f value, :value %>
        <% else -%>
          <%= text_f value, :value %>
        <% end -%>
      <% end %>
    </td>
  </tr>
</table>
